@charset "UTF-8";

body {
	margin: 0px 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;
}

.main {
	margin: auto;
}

.login-box {
	width: 600px;
	border: 1px solid rgb(240, 240, 240);
	border-radius: 15px;
	box-shadow: 2px 2px 10px rgb(240, 240, 240);
	padding: 20px;
}

.board-post {
	border: 1px solid rgb(240, 240, 240);
	padding: 20px;
	vertical-align: bottom;
	margin-right: 10px;
}

.bimg {
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.fixed-button {
	position: sticky;
	top: 50px;
}