<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<insert id="write" parameterType="boardVO" useGeneratedKeys="true" keyProperty="board_no">
		insert into board(content, writer)
		values (#{content}, #{writer})
	</insert>
	
	<select id="list" parameterType="boardVO" resultType="boardVO">
		select * from (
			select row_number() over(order by date desc) as no, b.*
			from board b
		) as b2
		where b2.no between #{start} and #{end}
	</select>
	
	<select id="count" parameterType="boardVO" resultType="int">
		select count(*) from board
	</select>
	
	<delete id="delete" parameterType="Integer">
		delete from board where no = #{no}
	</delete>
	
	<delete id="deleteAll" parameterType="Integer">
		delete from board
	</delete>
	
	<update id="update" parameterType="boardVO">
		update board set date = #{date}, day = #{day}, time = #{time},
		csw = #{csw}, c1 = #{c1}, c2 = #{c2}, c3 = #{c3}
		where no = #{no}
	</update>
	
</mapper>