<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board_tag_map">
	
	<insert id="write" parameterType="boardTagMapVO">
		insert into board_tag_map(board_no, tag_no)
		values (#{board_no}, #{tag_no})
	</insert>
	
</mapper>